/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
}

html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}



/* VARIABLES */

/* COLOURS */
:root {
  --white: #ffffff;
  --black: #2a2a28;
  --grey: #afafac;
  --light-grey: #ebebeb;
  --dark-grey: #444444;
  --other-grey: #4c4d59;
  --another-grey: #f3f3f2; /* The Figma file had some unnamed but repeated colours. Hence I created new variable names such as 'other grey' and 'another grey' for these colours. */
}

/* HEADINGS */
.regular-heading {
  font-size: 5.5rem;
  line-height: 1.15;
}

.medium-heading {
  font-size: 5rem;
  line-height: 1;
  font-weight: 550;
}

.small-heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (max-width: 870px) {
  .regular-heading {
    font-size: 4.4rem;
  }
}

@media (max-width: 870px) {
  .medium-heading {
    font-size: 4rem;
  }
}

.paragraph {
  font-size: 1.8rem;
}



/* COMPONENTS */

/* BUTTONS */
.button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  width: fit-content;
}

.white-button {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--light-grey);
}

.black-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
}

.menu-button {
  border: none;
  cursor: pointer;
  display: none;
  font-weight: bold;
}

/* NAVBAR */
header {
  position: sticky;
  top: 0px;
}

.logo {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 300;
}

.links {
  font-size: 1.4rem;
  color: var(--dark-grey);
  display: flex;
  gap: 30px;
  align-items: center;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: var(--white);
}

@media (max-width: 1000px) {
  .header-content {
    padding: 25px 30px;
  }

  .links {
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 15px;
    background-color: var(--light-grey);
    padding: 20px 10px;
    z-index: -1;
    background-color: var(--white);
    display: none;
  }

  .links.show {
    display: flex;
    z-index: 999;
  }

  .links ul {
    flex-direction: column;
  }

  .menu-button {
    display: block;
  }  
}

/* DIVIDERS */

.divider {
  height: 1px;
}

header .divider {
  background-color: var(--another-grey);
}

footer .divider {
  background-color: var(--dark-grey);
}

/* CAROUSEL */
.carousel { 
  display: grid;
  grid-auto-flow: column; /* This lays out grid items in a single row. */
  overflow-x: auto;
  scrollbar-width: none; /* hides scrollbar on Firefox */
  -ms-overflow-style: none; /* hides scrollbar on Internet Explorer 10+ */
  touch-action: pan-x;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  display: none; /* hides scrollbar on Chrome, Safari and Edge */
}

/* ICONS */
.white-icons > * {
  background-color: var(--white);
  border: 1px solid var(--light-grey);
}

.black-icons > * {
  background-color: var(--black);
  border: 1px solid var(--dark-grey);
}

.icon {
  border-radius: 50px;
  height: 42px;
  width: 42px;
  display: grid;
  place-items: center;
}

.icon > * {
  width: 16px;
  height: 16px;
}

/* TESTIMONIAL CARD */
.testimonial {
  background-color: var(--white);
  border-radius: 13px;
  padding: 40px;
  display: grid;
  gap: 22px;
  width: 477px;
}

.testimonial img {
  width: 84px;
  height: 84px;
}

.testimonial figcaption {
  display: grid;
  gap: 5px;
}

.testimonial .caption {
  font-size: 15px;
  font-weight: 500;
}

.testimonial figure {
  display: grid;
  gap: 15px;
}

.testimonial .paragraph {
  color: var(--dark-grey);
}

@media (max-width: 1020px) {
  .testimonial {
    padding: 20px;
    gap: 5px;
  }

  .testimonial img {
    height: 72px;
    width: 72px;
  }

  .testimonial figcaption .small-heading {
    font-size: 2.8rem;
  }
}

@media (max-width: 915px) {
  .testimonial {
    width: 70vw;
  }
}


/* PAGES */

/* HOME PAGE */

/* SECTION ONE */
.one {
  background-color: var(--white);
  padding-top: 130px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.one .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.one .profile-picture {
  width: 100px;
  height: 100px;
}

.one .icons {
  display: flex;
  gap: 13px;
}

.one .carousel {
  gap: 10px;
}

.one .carousel img {
  height: 300px;
  width: 400px;
}

@media (max-width: 1020px) {
  .one {
    padding-top: 65px;
    padding-bottom: 75px;
  }
}

/* SECTION TWO */

.two {
  background-color: var(--light-grey);
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two .content p {
  color: var(--other-grey);
}

.two .projects {
  display: grid;
  row-gap: 60px; /* vertical gap */
  column-gap: 20px; /* horizontal gap */
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.two .project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two .project img {
  max-width: 100%;
}

.two .project p {
  color: var(--grey)
}

@media (max-width: 1020px) {
  .two {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

@media (max-width: 805px) {
  .two .projects {
    grid-template-columns: 1fr;
  }
}

/* SECTION THREE */
.three {
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 0; /* overrides <section> padding */
}

.three .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 100px;
  gap: 19px;
  justify-content: center;
}

.three .image {
  padding: 0;
}

.three .image img {
  width: 100%;
}

@media (max-width: 1020px) {
  .three {
    padding: 0px; /* resets padding to zero easier styling of this media query */
  }

  .three .content {
    padding: 60px 30px;
  }

  .three .content p {
    max-width: 600px;
  } 
}

@media (max-width: 805px) {
  .three {
    grid-template-columns: 1fr;
    padding: 0px; /* resets padding to zero easier styling of this media query */
  }

  .three .image img {
    max-height: 480px; /* This crops the image vertically on larger screens */
    object-fit: cover;
  }
}

/* SECTION FOUR */
.four {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: var(--light-grey);
  display: grid;
  gap: 50px;
}

.four .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.four .content .paragraph {
  color: var(--other-grey);
  max-width: 500px;
}

.four .carousel {
  gap: 20px;
}

@media (max-width: 1020px) {
  .four {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

/* SECTION FIVE */
.contact {
  background-color: var(--dark-grey);
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

@media (max-width: 1020px) {
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* FOOTER */
footer {
  background-color: var(--black);
  color: var(--white);
  padding: 50px 50px 80px;
  display: grid;
  gap: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

footer .content {
  display: flex;
  gap: 70px;
}

footer .content p {
  font-size: 1.5rem;
  font-weight: bold;
}

footer .content ul {
  display: flex;
  gap: 30px;
}

footer .content li {
  list-style: none;
  font-size: 14px;
  display: inline-block;
}

footer .icons {
  display: flex;
  gap: 20px;
}

footer .icon > * { /* This targets the child of .icon, <i> */
  font-size: 1.6rem;
}

footer .divider {
  color: var(--dark-grey);
}

footer .copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  color: var(--grey);
  text-align: center;
}

@media (max-width: 1020px) {
  footer {
    padding: 50px 30px 80px;
  }

  footer .icons {
    gap: 10px;
  }

  footer .footer-links {
    flex-direction: column;
    gap: 40px;
  }

  footer .content {
    flex-direction: column;
    gap: 15px
  }

}



/* HORIZONTAL PADDING RESET - IT MUST STAY AT THE BOTTOM TO OVERRIDE ALL OTHER HORIZONTAL PADDING RULES */

section {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1020px) {
  section {
    padding-left: 30px;
    padding-right: 30px;
  }
}






